/* src/components/Competencias.css */

.competencias {
  padding: 40px 20px;
  background-color: #f0f0f0; /* Cinza claro */
  text-align: center;
}

.competencias h2 {
  margin-bottom: 30px;
  color: #007BFF;
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-icon {
  margin: 20px;
  cursor: pointer;
  color: #007BFF;
  transition: transform 0.3s;
  font-size: 3em; /* Aumenta o tamanho dos ícones */
}

.tech-icon:hover {
  transform: scale(1.1);
}

.tech-icon p {
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
}

.tech-icon svg {
  width: 1em;
  height: 1em;
}

.tech-icon:hover {
  color: #0056b3; /* Azul mais escuro no hover */
}

/* Estilos para o modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
  text-align: left;
}

.modal-content h3 {
  margin-top: 0;
  color: #007BFF;
}

.modal-content p {
  margin: 20px 0;
  color: #333;
}

.modal-content button {
  background-color: #28a745; /* Verde suave */
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.modal-content button:hover {
  background-color: #218838; /* Verde mais escuro no hover */
}
